@page "/"
@using BlazorSvgChart.Common
@using BlazorSvgChart.Components
@using BlazorSvgChart.Bus

<h1>A canvas</h1>

@* <Canvas Id=123 Width=@width Height=@height Rectangles=@rectangles></Canvas> *@
    <Canvas Id=123 Width=@width Height=@height Rectangles=@rectangles ActorSystem=@actorSystem></Canvas>

@code {
    
    private int width = 1000;
    private int height = 1000;
    private List<Rectangle> rectangles;

    private ActorSystem actorSystem;

    private Random rnd = new System.Random();
    
    protected override async Task OnInitializedAsync()
    {
        actorSystem = new ActorSystem();

        string initialStateJson = string.Empty;
        actorSystem.LoadInitialState(initialStateJson);

        


        rectangles = new List<Rectangle>();
        rectangles.Add(CreateRandomRectangle("1", width, height));
        rectangles.Add(CreateRandomRectangle("2", width, height));

        await Task.CompletedTask;
    }

    private Rectangle CreateRandomRectangle(string id, int canvasWidth, int canvasHeight)
    {
        var cw = rnd.Next(0, canvasWidth/10);
        var ch = rnd.Next(0, canvasHeight/10);
        var posx = rnd.Next(0, width - cw);
        var posy = rnd.Next(0, height - ch);
        double xComponent = rnd.NextDouble() - rnd.NextDouble();
        double yComponent = rnd.NextDouble() - rnd.NextDouble();
        var direction = new Vector(xComponent, yComponent);

        return new Rectangle()
        {
            Id = id,
            Height = ch,
            Width = cw,
            X = posx,
            Y = posy,
            Direction = direction

        };
    }
}